<HTML>
<HEAD>
  <META HTTP-EQUIV="refresh" CONTENT="<%= delay %>;URL=<%= to %>">
  <link rel="stylesheet" href="/css/default.css" type="text/css" />
</HEAD>
<BODY>
  <div id="gradient"></div>
  <div id="body">  <h1 class='msg_<%= type%>'>  <%= msg %> </h1>
</div>

</BODY>
</HTML>
